home {
    display: flex;
    justify-content: center;   
    align-items: center; 

    color: #FFFFFF;
    

    font-size: 30px;
    margin-left: 10px; 
    background: #000000;  
}

.alinhamento h1 {   
    padding-bottom: 40px;
    padding-left: 30px;
    padding-top: 195px;
    font-size: 40px;
    color: #FFFFFF;
}


.botao-linkedin {
    box-sizing: border-box;
    width: 90px;
    height: 30px;
    border-width: 2px;
    border-color: #FF0000;
    border-style: solid;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
    font-family: var(--montserrat);
    display: inline-block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-left: 30px;
}

.botao-linkedin:hover {
    transform: scale(1.02);
}

.foto {
    box-sizing: border-box;
    width: 250px;
    margin:30px 10px 30px 50px;
    border-radius: 20%;
    box-shadow: 0 0 25px #FF2D2D90;
    margin-top: 25px;

}

.foto:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px #FF0000;
}

@media screen and (min-width:768px) {
    .alinhamento {
        width: 40%;
        margin-top: 130px;
    }
    .alinhamento h1 {   
        padding-bottom: 40px;
        padding-left: 30px;
        padding-top: 195px;
        font-size: 50px;
        color: #FFFFFF;
    }
    .botao-linkedin {
    margin-left: 50px;
    width: 140px;
    height: 50px;
    font-size: 30px;
}
    .foto {
        width: 60%;
        margin-left: 250px;
    }
}





@media screen and (min-width: 1024px){
.home {
    display: flex;
    justify-content: center;   
    align-items: center; 

    color: white;
    
    padding-top: 195px;
    font-size: 1.5rem;
    margin-left: 3rem; 
    background: #000000;  
}

.alinhamento h1 {   
    padding-bottom: 2rem;
    font-size: 90px;
    margin-top: -8rem;
}


.botao-linkedin {
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    border-width: 2px;
    border-color: #FF0000;
    border-style: solid;
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
    font-family: var(--montserrat);
    display: inline-block;
    align-items: center;
}

.botao-linkedin:hover {
    transform: scale(1.02);
}

.foto {
    box-sizing: border-box;
    width: 30rem;
    margin: 1rem 1rem 0 0;
    border-radius: 20%;
    box-shadow: 0 0 25px #FF2D2D90;
}

.foto:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px #FF0000;
}
}
